
{% extends "base.html" %}

{% block title_head %}
    <title>Crear zapatillas</title>
{% endblock title_head %}

{% block h1_header %}

<!--
    <form action="" method="POST">
        {% csrf_token %}
        <p>
            Marca:
            <input type="text" name=marca>
        </p>
        <p>
            Descripción:
            <input type="text" name=descripcion>
        </p>
        <p>
            Año:
            <input type="number" name=anio>
        </p>

        <input type="submit" value=Crear>
        {% comment %} <button>Crear</button> {% endcomment %}

    </form>
-->

{% endblock h1_header %}